body {
  background: linear-gradient(
    rgba(208, 224, 231, 0.3) 50%,
    rgba(50, 109, 177, 0.5),
    rgba(25, 87, 158, 0.7)
  );
  height: 100vh;
}
.emoji {
  animation: bounce 2s cubic-bezier(0.2, -0.13, 0.05, 0.35) infinite alternate;
}

.face {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #d8c557;
  box-shadow: inset -15px 0px 10px 10px rgba(255, 102, 100, 0.15),
    15px 0px 10px 10px rgba(0, 0, 0, 0.09);
  position: relative;
  margin: 10% auto;
  animation: faceColor 4s linear infinite;
}
.eye {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 40px;
  box-shadow: 5px 25px 60px 5px rgba(225, 155, 50, 0.541);
}
.eye:last-child {
  left: auto;
  right: 40px;
}
.eye::after {
  content: "";
  width: 26px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0.925);
  box-shadow: 0px 0px 2px 7px rgba(17, 90, 158, 0.8);
  border: 1px solid rgba(0, 0, 255, 0.671);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rolleyes 4s linear infinite;
}

.mounth {
  width: 60px;
  height: 15px;
  background-color: #884d0e;
  border-radius: 15px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  animation: openMounth 2s linear -4s infinite alternate;
  box-shadow: 2px 0px 1px 2px rgba(228, 163, 24, 0.664);
}
.shadow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  margin: 86% 34%;
  animation: shadow 2s cubic-bezier(0.2, -0.13, 0.05, 0.35) infinite alternate;
}
@keyframes rolleyes {
  0% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 7px rgba(17, 78, 158, 0.8);
  }
  15% {
    transform: translate(-38px, -50%);
    box-shadow: 0px 0px 2px 7px rgba(22, 158, 17, 0.8);
  }
  30% {
    transform: translate(-33px, -50%) scale(0.7);
    box-shadow: 0px 0px 2px 7px rgba(12, 105, 85, 0.8);
  }
  45% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 7px rgba(17, 78, 158, 0.8);
  }

  60% {
    transform: translate(7px, -3px) scale(1.1);
    box-shadow: 0px 0px 2px 7px rgba(61, 7, 34, 0.8);
  }
  75% {
    transform: translate(-15px, 40%);
    box-shadow: 0px 0px 2px 7px rgba(66, 10, 104, 0.8);
  }
  100% {
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 7px rgba(17, 78, 158, 0.8);
  }
}
@keyframes openMounth {
  25% {
    width: 60px;
    height: 15px;
  }
  50% {
    width: 50px;
    height: 25px;
    bottom: 55px;
  }

  75% {
    width: 40px;
    height: 40px;
    bottom: 45px;
  }
  100% {
    width: 30px;
    height: 45px;
    bottom: 40px;
  }
}
@keyframes faceColor {
  from {
    background: #d8c557c2;
  }
  to {
    background: #d8d6579d;
  }
}
@keyframes bounce {
  100% {
    transform: translate3d(0px, 100px, 0px) scale3d(1.05, 0.95, 1);
  }
}
@keyframes shadow {
  0% {
    transform: rotateX(80deg) scale3d(1.05, 0.95, 1);
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    transform: rotateX(80deg) scale3d(0.925, 0.875, 1);
    background-color: rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: rotateX(80deg) scale3d(0.8, 0.8, 1);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

/* loader */
.loader {
  width: 570px;
  height: 570px;
  border-left: 10px solid#1c1fb994;
  border-radius: 50%;
  animation: rightrotate 4s linear infinite;
  margin: -31% auto;
}
.loader::before,
.loader::after {
  content: "";
  width: 540px;
  height: 540px;
  display: block;
  position: absolute;
  top: calc(50% - 270px);
  left: calc(50% - 270px);
  border-right: 10px solid #a9eee291;
  border-radius: 50%;
  animation: leftrotate 10s linear -10s infinite;
}
.loader::after {
  width: 480px;
  height: 480px;
  top: calc(50% - 240px);
  left: calc(50% - 240px);
  border: 0;
  border-left: 10px solid #ecea79a1;
  animation: none;
}

@keyframes leftrotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@keyframes rightrotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
